@model Agricola_Models.Models.UnidadMedida

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="panel-warning">
            <div class="panel-heading">
                <h4>Eliminar unidad de medida</h4>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    ¿Desea eliminar unidad de medida: @Html.DisplayTextFor(m => m.Descripcion) ?
                </div>
                <form action="@Url.Action("EliminarUnidadMedida", "UnidadMedida")" method="post">
                    <input type="hidden" class="form-control" name="IdUnidad" value="@Html.DisplayTextFor(x=> x.IdUnidad)" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a class="btn btn-success" href="@Url.Action("Index", "UnidadMedida")">Volver</a>
                </form>
            </div>
        </div>
    </div>
</div>



